<app-header></app-header>

<ul class="user-list">
  @for (user of userService.users; track user.id) {
  <li
    class="user-item"
    [ngClass]="{ selected: user.id === selectedUser }"
    (click)="selectUser(user.id)"
  >
    <div>
      <a [routerLink]="user.id.toString()" class="user-link">
        <h2 class="user-name">{{ user.name }}</h2>
      </a>
      <h3 class="user-email">{{ user.email }}</h3>
      <p class="trash-icon" (click)="deleteUser(user.id)">🗑</p>
    </div>
  </li>
  }
</ul>
